.Menu{
    width: 216px;
    background: rgba(15,15,15,1);
    border-radius: 4px;
    padding: 12px;
    height: calc(100% - 20px);
    display: inline-block;
}
.Menu label{
    font-size: 12px;
    line-height: 32px;
    color: rgba(152,154,156,1);
}
ul,li,a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.Menu ul li{
    margin: 2px 0;
    padding: 2px;
    cursor: pointer;
}
.Menu ul li a {
    line-height: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    display: block;
    border-radius: 3px;
}
.Menu ul  a:hover{
    background-color: rgba(0,169,113,0.1);
}
.Menu ul  a.active{
    background-color: rgba(0,169,113,1);
}
